.main{
display: flex;
align-items: center;
gap: 8px;

.container {
    width: 90%;
    .progress {
        overflow: hidden;
        height: 12px;
        background-color: #EDECF0;
        border-radius: 16px;
        .progressBar {
            width: 0;
            height: 100%;
            background-color: #8B6ED6;
            border-radius: 16px;
        }
    }
}
.value{
    font-size: 12px;
    color: #8C919B;
}

}