<div class="main">
    <div class="top">
        <div class="header">
            <div class="left">
                <div class="label">
                    Welcome back, Olivia
                </div>
            </div>
            <div class="right">
                <img src="assets/icons/search.svg" alt="">
                <app-button iconSrc="assets/icons/customize.svg" label="Customize" ></app-button>
                <app-button iconSrc="assets/icons/export.svg" label="Export"></app-button>

            </div>
        </div>
        <div class="charts">
        <app-vendor-breakdown class="vendorBreak"></app-vendor-breakdown>
        <app-vendor-monitor class="vendorMonitor"></app-vendor-monitor>
        </div>
    </div>
    <div class="bottom">
        <app-table></app-table>
    </div>